* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.Item-wrapper {
  padding: 80px 0 100px 0;
  background-image: url(http://localhost/img/back.JPG);
/*背景色の変更  background-color: rgb(255, 213, 213); */
  background-size: cover;
  color: white;
  text-align: center;
  opacity: 0.8;
}

.todo-wrapper {
  padding: 80px 0 100px 0;
  background-color: rgb(255, 213, 213);
  background-size: cover;
  color: BLACK;
  text-align: center;
}

.search-wrapper {
  padding: 80px 0 100px 0;
  background-color: rgb(193, 255, 255);
  background-size: cover;
  color: BLACK;
  text-align: center;
}

.input-wrapper {
  padding: 80px 0 100px 0;
  background-color: rgb(255, 255, 196);
  background-size: cover;
  color: BLACK;
  text-align: center;
}

.login-wrapper {
  padding: 80px 0 100px 0;
  background-color: rgb(195, 195, 195);
  background-size: cover;
  color: BLACK;
  text-align: center;
}

.login-wrapper p{
  font-size: 80px;
}


.btn {
  position: relative;
  display: inline-block;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn:hover p{
  color: white;
  font-size:40px;
}

.fa {
  margin-right: 5px;
}

.heading {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  color : white;
/*背景色変更に伴う文字色変更 color: rgb(150, 75, 0);　*/
}

.heading span {
  Color:red;
}

.Item {
  float: left;
  width: 33%;
}

.Item-icon {
  position: relative;
  width : 75%;
  margin : 0 auto;
  opacity : 1;
}

.Item-icon p {
  //position : relative;
  position: absolute;
  top:30%;
  width: 100%;
  color: white;
/*背景色変更に伴う文字色変更 color: rgb(150, 75, 0);　*/
  font-size: 30px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: white;
/*背景色変更に伴う文字色変更 color: rgb(150, 75, 0);　*/
  opacity: 0.7;
}

.todo {
  float: left;
  width: 100%;
}

.todo Title{
  float: left;
  width: 100%;
}

.todo content{

}


.form-item {
  margin: 100px auto ;
  padding: 20px 0 10px 0;
  font-weight: bold;
}




/*----------ヘッダ部----------*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
 height: 65px;
//  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}



/*^^^^^^^^^^ヘッダ部^^^^^^^^^^*/


/*----------フッター部----------*/

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/*^^^^^^^^^^フッター部^^^^^^^^^^*/
